.individual-page {
	padding: 0 400px;
	font-size: 1.1rem;
	margin-bottom: 50px;
}

.individual-page .main-img {
	width: 100%;
	height: 350px;
	border-radius: 15px;
	filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.25));
}

.individual-page .main-img.ingredient {
	width: 65%;
	height: 300px;
	filter: none;
}

.individual-page .bookmark-button,
.individual-page .edit-button,
.individual-page .delete-button {
	position: absolute;
	right: 30px;
	width: 36px;
	height: 45px;
}
.individual-page .bookmark-button {
	top: 30px;
}
.individual-page .edit-button {
	bottom: 30px;
	height: 36px;
}
.individual-page .delete-button {
	bottom: 100px;
}

.individual-page > h1 {
	color: var(--dark-color);
	text-align: center;
	margin-top: 30px;
}

.individual-page .coocking-time,
.individual-page .author,
.individual-page .card-links,
.individual-page .rating-container,
.individual-page .bookmark-count {
	position: initial;
	margin: 5px 0;
	text-align: center;
}

.individual-page .coocking-time::before {
	background-image: url(~/assets/time-black.svg);
}

.individual-page .author {
	font-size: 1.5rem;
}

.individual-page .link {
	max-width: 300px;
	margin-bottom: 30px;
	font-size: 1.3rem;
	text-align: center;
}

.individual-page .card-links a,
.individual-page .card-links span {
	color: var(--secondary-color);
	font-size: 1.3rem;
}

.individual-page .bookmark-count {
	color: #000;
}

.individual-page .stars::before,
.individual-page .rating-container {
	font-size: 1.3em;
}

.description-container {
	justify-content: start;
	gap: 20px;
}

.description-container > p {
	text-align: justify;
	flex-basis: 100%;
}

.description-container > p::first-letter {
	font-size: 1.2em;
}
