.title-container {
	margin: 50px 0 200px 0;
}

#main-title {
	position: relative;
	text-transform: uppercase;
	text-align: center;
	font-family: "JetBrains Mono";
	color: var(--dark-color);
	font-size: 75px;
}

#main-title.small {
	font-size: 55px;
	margin-bottom: 20px;
}

#main-title::before {
	content: attr(data-text);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -2;
	font-size: 2em;
	inline-size: max-content;
	color: #fff;
}

#main-title.small::before {
	font-size: 2em;
}

.waves-background {
	position: absolute;
	background-image: url(~/assets/waves-background.svg);
	top: -375px;
	width: 100%;
	height: 800px;
	z-index: -2;
}
